@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
}

body {
  background: #242b2e;
  max-height: 100vh;
  color: #fff;
  font-family: "Poppins", sans-serif;
  background-image: url("./image/Mask\ Group.png");
  background-repeat: no-repeat;
  background-size: 52%;
  background-position-x: right;
}

.taskListContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 200px 20px;
}

.taskHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

input {
  border-radius: 0px !important;
}

.taskHeader i {
  font-size: 45px;
  background-color: #f7cd2e;
  color: #242b2e;
  padding: 7px;
  border-radius: 50px;
  margin-bottom: 5px;
}

.taskHeader h3 {
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 10px;
}

.addBtn {
  padding: 8px;
  font-size: 15px;
  background-color: #f7cd2e;
  border: none;
}

.addBtn:hover {
  padding: 8px;
  font-size: 15px;
  background-color: #daaf16;
  border: none;
}

.addBtn i {
  font-size: 25px;
  vertical-align: middle;
  pointer-events: none;
  color: #242b2e;
}

.listContainer {
  margin: 0px !important;
  padding: 0px !important;
  max-width: 500px;
}

.taskList {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  list-style: none;
  color: #242b2ebe;
  font-weight: 500;
  margin: 0px 0px 10px 0px;
}

.task {
  padding: 10px 15px;
  flex: 1;
}

.delBtn {
  padding: 0px 9px;
  font-size: 15px;
  background-color: #ef5354;
  border: none;
  margin: 0px 0px -1px 0px;
}

.delBtn:hover {
  padding: 0px 9px;
  font-size: 15px;
  background-color: #d33434;
  border: none;
}

.delBtn i {
  font-size: 25px;
  vertical-align: middle;
  pointer-events: none;
  color: #fff;
  pointer-events: none;
}
.completeBtn {
  padding: 0px 9px;
  font-size: 15px;
  background-color: #1da063;
  border: none;
  margin: 0px 0px 0px 0px;
}

.completeBtn:hover {
  padding: 0px 9px;
  font-size: 15px;
  background-color: #14804d;
}

.completeBtn i {
  margin: 0px 0px -4px 0px;
  font-size: 27px;
  vertical-align: middle;
  pointer-events: none;
  color: #fff;
  pointer-events: none;
}
